* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

header {
  display: flex;
  background: #020024;
  background: linear-gradient(to bottom, #ffccff 0%, #ffffff 100%); }
  header h1 {
    text-align: center;
    padding: 5%;
    font-family: "Courier New", Courier, monospace; }

ul {
  list-style: none; }
  ul li {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px;
    align-self: flex-end;
    font-family: "Courier New", Courier, monospace; }

a {
  color: #020202; }
  a:hover {
    color: coral; }

#mariposa-panambi {
  filter: brightness(1.1);
  mix-blend-mode: hard-light;
  width: 10rem;
  height: 5rem;
  position: fixed; }

/* ----GRIDS PARA EL HEADER---- */
.grids-index {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr, repeat(3, 1fr);
  grid-template-areas: "header header header header" "destacada destacada destacada destacada" "alquiler alquiler venta venta" "footer footer footer footer"; }

header {
  grid-area: header; }

.propiedad-destacada {
  grid-area: destacada; }

.propiedad-alquiler {
  grid-area: alquiler; }

.propiedad-venta {
  grid-area: venta; }

footer {
  grid-area: footer; }

/* ----MEDIA QUERIES---- */
@media (min-width: 1024px) {
  header {
    font-size: large;
    font-weight: bold; }

  #mariposa-panambi {
    width: 20rem;
    height: 10rem;
    position: relative; }

  nav ul li {
    width: fit-content; } }
/* ----FOOTER---- */
footer {
  font-size: medium;
  color: #FFF;
  height: 8rem;
  background: #020024;
  background: linear-gradient(to bottom, #ffffff 0%, #ffccff 100%);
  text-align: center;
  padding: 5rem;
  font-family: "Courier New", Courier, monospace; }

footer a svg {
  font-size: larger; }

/* ----VISTA DE LAS PROPIEDADES---- */
.propiedad-destacada {
  display: flex;
  border-color: black;
  border-style: dotted;
  margin: 50px;
  padding: 10px;
  background-color: #cc9bcc;
  overflow: auto;
  text-align: center; }
  .propiedad-destacada p {
    display: flex;
    flex-flow: row wrap;
    text-align: justify;
    padding: 10px; }
  .propiedad-destacada__video {
    width: 50%;
    height: 100%; }

.propiedad__index {
  display: inline-flex; }

.propiedad-alquiler {
  border-bottom: #1f082c;
  border-style: double;
  margin: 50px;
  padding: 10px;
  background-color: #cc9bcc;
  overflow: hidden;
  text-align: center; }
  .propiedad-alquiler__imagenes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 20vh;
    overflow: hidden; }

.propiedad-venta {
  border-bottom: #1f082c;
  border-style: double;
  margin: 50px;
  padding: 10px;
  background-color: #cc9bcc;
  overflow: hidden;
  text-align: center; }
  .propiedad-venta__imagenes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 20vh;
    overflow: hidden; }

img {
  width: auto;
  max-height: 100%;
  padding: 10px;
  transition: transform 116ms ease-in; }
  img:hover {
    transform: translate(0px, 0px) scale(1.5, 1.5); }

/*----FORM----*/
.container__contacto {
  display: flex;
  justify-content: center; }
  .container__contacto input::placeholder {
    color: #FF2D95;
    opacity: 0.5; }
  .container__contacto textarea::placeholder {
    color: #FF2D95;
    opacity: 0.5; }

/* ----LISTA DE PROPIEDADES---- */
.lista-propiedades__tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border: 5px solid black;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  width: auto;
  background-color: #cc9bcc; }
  .lista-propiedades__tarjeta h3 {
    text-align: center;
    text-size-adjust: auto; }
  .lista-propiedades__tarjeta p {
    text-align: center;
    text-size-adjust: auto; }
  .lista-propiedades__tarjeta img {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 20vh;
    line-height: 1%;
    padding: 3%;
    overflow: hidden; }

.casa-alquiler {
  border-color: black;
  border-style: dotted;
  margin: 50px;
  padding: 3px;
  background-color: #cc9bcc;
  overflow: hidden; }
  .casa-alquiler p {
    display: flex;
    flex-flow: row wrap;
    text-align: center; }

.propiedad__imagenes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 30vh;
  line-height: 1%;
  padding: 3%; }

.casa-alquiler__tabla {
  border-color: black;
  border-style: dotted;
  margin: 50px;
  padding: 10px;
  background-color: #cc9bcc;
  overflow: hidden; }

/* ----QUIENES SOMOS---- */
.conocenos {
  border-color: black;
  border-style: dotted;
  margin: 50px;
  padding: 10px;
  background-color: #cc9bcc;
  overflow: hidden; }
  .conocenos .conocenos h2 {
    text-align: center;
    color: #1f082c; }
  .conocenos__imagenlu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 20vh; }
  .conocenos__imagenflor {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 20vh; }

aside {
  display: inline-block;
  border-color: #faf9f9;
  border-style: double;
  margin: 50px;
  padding: 20px;
  background-color: #721772;
  overflow: hidden;
  position: relative;
  justify-content: space-between;
  text-align: justify;
  align-self: stretch; }
  aside h3 {
    color: aliceblue;
    text-align: center;
    font-weight: bold; }

/* ----GRIDS PARA QUIENES SOMOS---- */
.conocenos {
  display: grid;
  grid-template-columns: repeat(3, 22 vh);
  grid-template-rows: repeat(5, 20 vw);
  grid-template-areas: "titulo titulo titulo" "lucia titulol  aside" "lucia textol aside" "florencia titulof aside" "florencia textof aside";
  grid-gap: 2rem; }

.conocenos-titulo {
  grid-column-start: 1;
  grid-column-end: 4; }

.conocenos__imagenlu {
  grid-area: lucia;
  align-self: center; }

.titulol {
  grid-area: titulol; }

.textol {
  grid-area: textol;
  text-align: justify; }

.conocenos__imagenflor {
  grid-area: florencia;
  align-self: center; }

.titulof {
  grid-area: titulof; }

.textof {
  grid-area: textof;
  text-align: justify; }

.mision-vision {
  grid-area: aside; }

.mision-vision {
  display: grid;
  text-align: justify; }

.mision-vision h3 {
  text-align: center;
  align-self: center; }
