* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.boton {
  background-color: white;
  color: black;
  border: 2px solid #674064;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s; }
  .boton:hover {
    background-color: #674064;
    color: #ffffff;
    animation: bounce 2s ease 0s 1 normal forwards; }

/* ----HEADER---- */
header {
  background: linear-gradient(to bottom, #ffccff 0%, #ffffff 100%);
  color: black;
  height: 10rem;
  padding: 5rem; }

ul, li, a {
  list-style: none;
  color: black; }
  ul:visited, li:visited, a:visited {
    color: #674064; }
  ul:hover, li:hover, a:hover {
    color: #ffffff; }

/* ----FOOTER---- */
footer {
  background: linear-gradient(to bottom, #ffffff 0%, #ffccff 100%);
  color: black;
  height: 8rem;
  padding: 5rem;
  text-align: center;
  font-size: medium; }

a, svg {
  font-size: larger;
  color: #c673bf; }
  a:visited, svg:visited {
    color: #674064; }
  a:hover, svg:hover {
    color: #ffffff; }

/* ----VISTA DE LAS PROPIEDADES---- */
.carousel-item {
  height: 32rem;
  background: black;
  color: #ffffff;
  position: relative; }

.montevideo {
  position: relative;
  justify-content: center;
  color: #ffffff solid;
  padding-top: 100px; }

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5; }

.destacadas {
  padding: 80px 0;
  margin: 10px;
  overflow: hidden; }

.destacadas__body {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 15px; }

.img1 img {
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%; }

.img2 img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border-color: 7px #e4aadf;
  margin-top: -80px; }
  .img2 img:hover {
    border-color: #e9c9ec;
    transform: scale(2);
    transition: .7s; }

.destacadas__text {
  padding: 30px 0;
  text-align: center; }

.destacadas h2 {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  font-size: 20px;
  margin: 0 0 20px; }

.destacadas p {
  font-size: 16px;
  padding: 0 35px; }

/*----FORM----*/
/* ----LISTA DE PROPIEDADES---- */
/* ----QUIENES SOMOS---- */
