/* ----FOOTER---- */

footer {
    font-size: x-large;
    color: #FFF;
    height: 8rem;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(156, 39, 191, 1) 0%, rgba(255, 0, 189, 1) 100%);
    text-align: center;
    padding: 10px;
}
