/* ----FOOTER---- */

footer{
    background-color: $color-footer;
    color: black;
    height: 8rem;
    padding: 5rem;
    text-align: center;
    font-size: medium;
}










// footer {
//     
//     color: $color-aside;

// }


footer a svg{
    font-size: larger;
}