/* ----FOOTER---- */

footer {
    font-size: medium;
    color: #FFF;
    height: 8rem;
    background: rgb(2, 0, 36);
    background: $color-footer;
    text-align: center;
    padding: 5rem;
    font-family: $tipografia-footer;
}


footer a svg{
    font-size: larger;
}