/* ----HEADER---- */

header {
    background: $color-header;
    color: black;
    height: 10rem;
    padding: 5rem;
}


ul {
    list-style: none;
    color: black;

    li {
        a {
            &:visited {
                color: $color1;
            }

            &:hover {
                color: $color6;
            }
        }
    }

}

// Revisar por que no me toma el hover