/* ----HEADER---- */

header {
    background: $color-header;
    color: black;
    height: 10rem;
    padding: 5rem;
}


ul, li, a {
    list-style: none;
    color: black;

            &:visited {
                color: $color1;
            }

            &:hover {
                color: $color6;
            }
        }

// Revisar por que no me toma el hover