/*----FORM----*/
.mensaje {
    background-color: $color3;
}

.contacto {
    display: flex;
    justify-content: center;



    input::placeholder {
        color: $color8;
        opacity: 0.5;
    }

    textarea::placeholder {
        color: $color8;
        opacity: 0.5;
    }

}