/*----FORM----*/

.contacto {
    display: flex;
    justify-content: center;
    background-image: url("formcontacto.png");

    input::placeholder {
        color: #FF2D95;
        opacity: 0.5;
    }

    textarea::placeholder {
        color: #FF2D95;
        opacity: 0.5;
    }

}

