/*----FORM----*/

.container__contacto {
    display: flex;
    justify-content: center;

    input::placeholder {
        color: #FF2D95;
        opacity: 0.5;
    }

    textarea::placeholder {
        color: #FF2D95;
        opacity: 0.5;
    }

}