/* ----LISTA DE PROPIEDADES---- */

.lista-propiedades__imagenes {
    border-bottom: #1f082c;
    border-style: double;
    margin: 50px;
    padding: 10px;
    background-color: $color-section;
    overflow: hidden;

    img {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: 20vh;
        line-height: 1%;
        padding: 3%;
    }

}

.casa-alquiler {
    border-color: black;
    border-style: dotted;
    margin: 50px;
    padding: 10px;
    background-color: $color-section;
    overflow: hidden;

    p {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
    }
}


.propiedad__imagenes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 30vh;
    line-height: 1%;
    padding: 3%;
}

.casa-alquiler__tabla {
    border-color: black;
    border-style: dotted;
    margin: 50px;
    padding: 10px;
    background-color: $color-section;
    overflow: hidden;
}
