/* ----QUIENES SOMOS---- */

aside {
    border-color: rgb(250, 249, 249);
    border-style: double;
    margin: auto;
    padding: 20px;
    background-color: $color5;
    overflow: hidden;
    position: relative;
    justify-content: space-between;
    text-align: justify;
    align-self: stretch;

    h3 {
        color: aliceblue;
        text-align: center;
        font-weight: bold;
    }

}

.inmopana {
    color: $color0;
    text-decoration: double;
}

.inmopana :hover {
    color: $color5;
}