*/*{
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

header{
    background-color: #AA6DCD;
}

h1{
    color: aliceblue;
    text-align: center;
}

#mariposa-panambi{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    width: 20em;
    height: 15em;
    position: relative;
    }

    nav ul li{
        display: inline-flex; 
    }
    /*