//COLORES

$color-header: linear-gradient(to bottom, #ffccff 0%, #ffffff 100%);
$color-footer: linear-gradient(to bottom, #ffffff 0%, #ffccff 100%);


// PALETA DE COLORES
$color-aside: rgb(114, 23, 114);
$color1: #674064;
$color2: #e4aadf;
$color3: #e9c9ec;
$color4: #924e8f;
$color5: #c673bf;
$color6: #ffffff;



//TIPOGRAFÍAS - revisar esto

$tipografia-header: 'Courier New', Courier, monospace;
$tipografia-footer: 'Courier New', Courier, monospace;
$tipografia-general: 'Raleway', sans-serif;
$tiografia-titulo: 'Josefin Sans', sans-serif;



