//COLORES

$color-header: radial-gradient(circle, #020024 0%, #9c27bf 50%, #ff00bd 100%);
$color-footer: radial-gradient(circle, #020024 0%, #9c27bf 50%, #ff00bd 100%);

$color-section: rgb(204, 155, 204);
$color-aside: rgb(114, 23, 114);


//TIPOGRAFÍAS

$tipografia-header: 'Courier New', Courier, monospace;
$tipografia-footer: 'Courier New', Courier, monospace;
$tipografia-general: 'Raleway', sans-serif;