//COLORES

$color-header: linear-gradient(to bottom, #ffccff 0%, #ffffff 100%);
$color-footer: linear-gradient(to bottom, #ffffff 0%, #ffccff 100%);

$color-section: rgb(204, 155, 204);
$color-aside: rgb(114, 23, 114);


//TIPOGRAFÍAS

$tipografia-header: 'Courier New', Courier, monospace;
$tipografia-footer: 'Courier New', Courier, monospace;
$tipografia-general: 'Raleway', sans-serif;


