* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ----HEADER---- */
header {
    background-color: #b944e7;
    border-style: dashed;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}

h1 {
    text-align: center;
    padding-top: 5%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    /* float: right; */
    /* text-align: center; */
    padding: 10px;
    align-content: flex-end;
}

a {
    color: rgb(2, 2, 2);
}

a:hover {
    color: coral;
}

#mariposa-panambi {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    width: 12em;
    height: 8em;
    position: relative;
}

/* ----VISTA DE LAS PROPIEDADES---- */

.propiedad-destacada {
    display: flex;
    border-color: black;
    border-style: dotted;
    margin: 50px;
    padding: 10px;
    background-color: rgb(204, 155, 204);
    overflow: hidden;
}

.propiedad-destacada p {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.propiedad-alquiler {
    border-bottom: #1f082c;
    border-style: double;
    margin: 50px;
    padding: 10px;
    background-color: rgb(204, 155, 204);
    overflow: hidden;
}

.propiedad-venta {
    border-bottom: #1f082c;
    border-style: double;
    margin: 50px;
    padding: 10px;
    background-color: rgb(204, 155, 204);
    overflow: hidden;
}

.propiedad-alquiler__imagenes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 20vh;
}


.propiedad-venta__imagenes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 20vh;
}

img {
    width: auto;
    max-height: 100%;
    padding: 10px;
}

/* ----QUIENES SOMOS---- */

.conocenos {
    border-color: black;
    border-style: dotted;
    margin: 50px;
    padding: 10px;
    background-color: rgb(204, 155, 204);
    overflow: hidden;
}

.conocenos h2 {
    text-align: center;
    color: #1f082c;
}

.conocenos__imagenlu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 20vh;
}

.conocenos__imagenflor{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 20vh;
}

aside {
    border-color: rgb(250, 249, 249);
    border-style: double;
    margin: 50px;
    padding: 10px;
    background-color: rgb(114, 23, 114);
    overflow: hidden;
    position: relative;
}

aside h3 {
    color: aliceblue;
    text-align: center;
    font-weight: bold;
}


/* ----LISTA DE PROPIEDADES---- */

.lista-propiedades__imagenes {
    border-bottom: #1f082c;
    border-style: double;
    margin: 50px;
    padding: 10px;
    background-color: rgb(204, 155, 204);
    overflow: hidden;
}

.lista-propiedades__imagenes img {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 20vh;
    line-height: 1%;
    padding: 3%;
}

.casa-alquiler {
    border-color: black;
    border-style: dotted;
    margin: 50px;
    padding: 10px;
    background-color: rgb(204, 155, 204);
    overflow: hidden;
}

.casa-alquiler p {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.propiedad__imagenes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 30vh;
    line-height: 1%;
    padding: 3%;
}

.casa-alquiler__tabla {
    border-color: black;
    border-style: dotted;
    margin: 50px;
    padding: 10px;
    background-color: rgb(204, 155, 204);
    overflow: hidden;
}

/* ----FOOTER---- */

footer {
    height: 8rem;
    background-color: #b944e7;
    text-align: center;
    padding: 2px;
}

/* ----GRIDS PARA EL INDEX---- */

.grids-index {
    display: grid;
    grid-template-columns: (repeat(4, 1fr));
    grid-template-rows: 2fr, 3fr,repeat(3, 1fr);

    grid-template-areas: 
    "header header header header"
    "destacada destacada destacada destacada"
    "alquiler alquiler alquiler alquiler"
    "venta venta venta venta"
    "footer footer footer footer";
}

header{
    grid-area: header;

}

.propiedad-destacada{
    grid-area: destacada;
}

.propiedad-alquiler{
    grid-area: alquiler;
}

.propiedad-venta{
    grid-area: venta;
}

footer{
    grid-area: footer;
}

/* ----GRIDS PARA QUIENES SOMOS---- */

.conocenos{
    display: grid;
    grid-template-columns: repeat(3 ,22 vh);
    grid-template-rows: repeat(5, 20 vw);

    grid-template-areas: 
    "titulo titulo titulo"
    "lucia titulol  aside"
    "lucia textol aside"
    "florencia titulof aside"
    "florencia textof aside"
}

.conocenos-titulo{
    grid-area: titulo;
}

.conocenos__imagenlu { 
    grid-area: lucia;

}

.titulol{
grid-area: titulol;
}

.conocenos__imagenflor{
    grid-area: florencia;
}

.titulof{
grid-area: titulof;
}

.mision-vision{
    grid-area: aside;
}